// Colors

$bg_content                                   : #ffffff;
$black                                        : #000000;
$separator_alternate                          : #e7e8ec;
$bg_body                                      : #edeef0;
$color_info                                   : #626d7a;
$bg_btn_flat                                  : #5181b8;
$color_box_1                                  : #dce1e6;
$color_box_2                                  : #e7e8ec;
$border_input                                 : #d3d9de;
$color_link                                   : #2a5885;
$color_text                                   : #818c99;
$bg_button                                    : #4bb34b;
$bg_button1                                   : #1965c2;
$bg_badge                                     : #ff3347;
$color_notif                                  : #6f7985;
$color_desc                                   : #6a7581;
$color_name                                   : #476e95;
$color_menu_left                              : rgb(81, 129, 184);
$bg_menu_left                                 : #e5e7eb;
$more_border                                  : #dce1e6;
$bg_hover                                     : #f2f4f5;
$bg_switch                                    : #c5d0db;
$color_author                                 : #939393;
$color_date                                   : rgb(98, 109, 122);
$color_active                                 : #e64646;

// Sizes
$hight-header                                 : 48px;
