.main_page {
    padding-top: 60px;
    padding-bottom: 100px;
}
.upload {
    width: 50%;
    margin: 10px auto;
    text-align: center;
}

.card {
    margin: 10px auto;
    min-height: 200px;
    height: auto;
}
.content {
    margin-top: 10px;
}
